
<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">IVM Online</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <!--<li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil</a>-->
                <!--</li>-->
                <!--<li><a href="#"><i class="fa fa-gear fa-fw"></i> Configuraci&oacute;n</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <!--<li class="sidebar-search">-->
                <!--<div class="input-group custom-search-form">-->
                <!--<input type="text" class="form-control" placeholder="Buscar...">-->
                <!--<span class="input-group-btn">-->
                <!--<button class="btn btn-default" type="button">-->
                <!--<i class="fa fa-search"></i>-->
                <!--</button>-->
                <!--</span>-->
                <!--</div>-->
                <!--&lt;!&ndash; /input-group &ndash;&gt;-->
                <!--</li>-->
                <li>
                    <a id="btn-inicio" href="javascript:void(0);"><i class="fa fa-home fa-fw"></i> Inicio</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-heart fa-fw"></i> EFI</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="javascript:loadModule('ganados','ganados','Index');"><i class="fa fa-heart fa-fw"></i> Inscripci&oacute;n</a>
                        </li>
                        <li>
                            <a id="btn-inicio" href="javascript:void(0)"><i class="fa fa-heart fa-fw"></i> Niveles</a>
                        </li>
                    </ul>
                    <!--<ul class="nav nav-second-level">
                        <li>
                            <a href="javascript:loadModule('ganados','ganados','Index');">Consultar</a>
                        </li>
                        <li>
                            <a href="javascript:loadModule('ganados','ganados','Nuevo');">Registrar</a>
                        </li>
                    </ul>-->
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-heart fa-fw"></i> Redes</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-heart fa-fw"></i> Disc&iacute;pulos</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-heart fa-fw"></i> Aprobaciones</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-heart fa-fw"></i> Reportes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#configuracion"><i class="fa fa-heart fa-fw"></i> Configuraci&oacute;n</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#niveles"><i class="fa fa-heart fa-fw"></i> Niveles</a>
                        </li>
                        <li>
                            <a href="#parametros"><i class="fa fa-heart fa-fw"></i> Parametros</a>
                        </li>
                        <li>
                            <a href="#iglesias"><i class="fa fa-heart fa-fw"></i> Iglesias</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-heart fa-fw"></i> Seguridad</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-heart fa-fw"></i> Usuarios</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-heart fa-fw"></i> Permisos</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><i class="fa fa-heart fa-fw"></i> Filtros</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper"></div>
<!-- /#page-wrapper -->
