<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel" style="height: auto">
        <div class="pull-left image">
            <!--<img src="resources/images/avatar5.png" class="img-circle" alt="User Image">--><p>&nbsp;</p>
        </div>
        <div class="pull-left info">
            <a href="#"><i class="fa fa-map-pin"></i> PRU-1986</a>
            <p>Jonathan Blanquicett</p>
            <!-- Status -->
        </div>
    </div>

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="active"><a id="btn-inicio" href="#inicio"><i class="fa fa-home"></i> <span>Inicio</span></a></li>

        <li class="header"><i class="fa fa-rocket"></i>&nbsp;&nbsp;&nbsp; EFI</li>
        <li><a href="#"><i class="fa fa-pencil"></i> <span>Registrar Familia</span></a></li>
        <li><a id="btn-niveles" href="#niveles"><i class="fa fa-graduation-cap"></i> <span>Niveles</span></a></li>
        <li><a href="#"><i class="fa fa-hand-o-right"></i> <span>Inscripci&oacute;n</span></a></li>

        <li class="header"><i class="fa fa-sitemap"></i>&nbsp;&nbsp;&nbsp; REDES</li>
        <li><a href="#"><i class="fa fa-heart"></i> <span>Disc&iacute;pulos</span></a></li>
        <li><a href="#"><i class="fa fa-check-square"></i> <span>Aprobaciones</span></a></li>
        <li><a href="#"><i class="fa fa-bar-chart-o"></i> <span>Reportes</span></a></li>

        <li class="header"><i class="fa fa-gear"></i>&nbsp;&nbsp;&nbsp; CONFIGURACI&Oacute;N</li>
        <li><a href="#"><i class="fa fa-th-list"></i> <span>Niveles</span></a></li>
        <li><a href="#"><i class="fa fa-wrench"></i> <span>Parametros</span></a></li>
        <li><a href="#"><i class="fa fa-institution"></i> <span>Iglesias</span></a></li>

        <li class="header"><i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp; SEGURIDAD</li>
        <li><a href="#"><i class="fa fa-users"></i> <span>Usuarios</span></a></li>
        <li><a href="#"><i class="fa fa-key"></i> <span>Permisos</span></a></li>
        <li><a href="#"><i class="fa fa-filter"></i> <span>Filtros</span></a></li>
        <!--<li class="treeview">-->
        <!--<a href="#"><i class="fa fa-link"></i> <span>Multilevel</span>-->
        <!--<span class="pull-right-container">-->
        <!--<i class="fa fa-angle-left pull-right"></i>-->
        <!--</span>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
        <!--<li><a href="#"><i class="fa fa-hand-o-right"></i> Link in level 2</a></li>-->
        <!--<li><a href="#">Link in level 2</a></li>-->
        <!--</ul>-->
        <!--</li>-->
    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->