<div class="row" id="form-iglesias">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-4" style="height: 200px;"></div>
            </div>
            <div class="box-footer">
                <input type="submit" class="btn btn-primary" value="Guardar">
                <button type="reset" class="btn btn-default">Limpiar</button>
                <button type="button" id="btn-iglesias-registrar-cancelar" class="btn btn-default">Cancelar</button>
            </div>
            <div id="table-loader" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>




