<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3 id="ganados_cantidad"><i class="fa fa-refresh fa-spin"></i></h3>

                <p>GANAR</p>
            </div>
            <div class="icon">
                <i class="fa fa-heart"></i>
            </div>
            <a id="consultar-nivel-1" href="javascript:void(0);" class="small-box-footer">Ver listado <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3 id="consolidar_cantidad">-</h3>

                <p>CONSOLIDAR</p>
            </div>
            <div class="icon">
                <i class="fa fa-spoon"></i>
            </div>
            <a href="#" class="small-box-footer">Ver listado <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3 id="discipular_cantidad">-</h3>

                <p>DISCIPULAR</p>
            </div>
            <div class="icon">
                <i class="fa fa-university"></i>
            </div>
            <a href="#" class="small-box-footer">Ver listado <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3 id="enviar_cantidad">-</h3>

                <p>ENVIAR</p>
            </div>
            <div class="icon">
                <i class="fa fa-rocket"></i>
            </div>
            <a href="#" class="small-box-footer">Ver listado <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>