<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="btn-group">
                    <button id="btn-registrar-nivel" type="button" class="btn btn-primary">Registrar</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Menu desplegable</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="javascript:void(0);" data-toggle="modal" data-target="#myModal">Eliminar Seleccionado</a></li>
                    </ul>
                </div>
                <!--<h3 class="box-title">Niveles</h3>-->
            </div>
            <div class="box-body">
                <table id="nivel-main-table" class="table table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ACCIONES</th>
                        <th>ORDEN</th>
                        <th>NOMBRE</th>
                        <th>TIPO</th>
                        <th>ESTATUS</th>
                        <th>MOVER</th>
                    </tr>
                    </thead>
                    <tbody id="nivel-cuerpo-tabla">
                    </tbody>
                </table>
            </div>
            <div id="table-loader" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Est&aacute; de Eliminar el(los) elemento(s) seleccionado(s)?
            </div>
            <div class="modal-footer">
                <button id="nivel-eliminar-seleccionados" type="button" class="btn btn-sm btn-default" data-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModalSelected" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                Est&aacute; de Eliminar el(los) elemento(s) seleccionado(s)?
            </div>
            <div class="modal-footer">
                <button id="nivel-eliminar" type="button" class="btn btn-sm btn-default" data-dismiss="modal">Eliminar</button>
                <button id="nivel-eliminar-cancel" type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>