<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Tables</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>

            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table id="table-example" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th style="width: 30px;">C&eacute;DULA</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>SEXO</th>
                            <th>NACIONALIDAD</th>
                            <th>IGLESIA</th>
                        </tr>
                        </thead>
                        <tfoot id = "table1">
                        <tr>
                            <th>ID</th>
                            <th>CODIGO</th>
                            <th>NOMBRE</th>
                            <th>VALOR</th>
                            <th>ORDEN</th>
                            <th>DESCRIPCI&Oacute;N</th>
                        </tr>
                        </tfoot>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="well">
                    <h4>DataTables Usage Information</h4>
                    <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                    <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $.ajaxSetup({
        cache: true
    });
    var tablaActual = $('#table-example').DataTable({
        responsive: true
    });
    jQuery.cachedScript = function( url, options ) {

        // Allow user to set any option except for dataType, cache, and url
        options = $.extend( options || {}, {
            dataType: "script",
            cache: true,
            url: url
        });

        // Use $.ajax() since it is more flexible than $.getScript
        // Return the jqXHR object so we can chain callbacks
        return jQuery.ajax( options );
    };

    // Usage
    $.cachedScript( "resources/js/jquery/ganados/ganadosRepository.js" ).done(function( script, textStatus ) {
        if (textStatus == 'success') {
            $.getScript( "resources/js/jquery/ganados/ganadosController.js");
        }
    });
</script>